*{
    padding: 0;
    margin: 0;
}

@import './variables/colores';
@import './variables/extend';
@import './variables/mixing';

@import './secciones/body';
@import './secciones/header';
@import './secciones/main';
@import './secciones/footer';