//Bloque
.header{
    @extend %estiloHeader;
    &__logo{
        zoom: 10%;
        margin-left: 1rem;
    }
    &__ul{
        a{
            text-decoration: none;
            color: black;
        }
        display: flex;
        list-style: none;
        li{
            margin: 1rem;
            font-weight: bold;
        }
        &--active{
            color: green;
        }
    }
    &__h1{
        text-decoration: none;
        color: $negro;
    }
}