//Bloque
.header{
    @extend %estiloHeader;
    &__logo{
        zoom: 10%;
        margin-left: 1rem;
    }
    &__ul{
        display: flex;
        list-style: none;
        li{
            margin: 1rem;
            font-weight: bold;
        }
        &--active{
            color: green;
        }
    }
}